{% extends 'admin_base.html' %}
{% block title %}
Admin | Dashboard
{% endblock %}
{% block body %}
<!-- MAIN -->
<main>
	<h1 class="title">Dashboard</h1>
	{% if tasks.cond %}
	<div class="info-data">
		<div class="card">
			<div class="head">
				<div>
					<h2>{{ tasks.total_number }}</h2>
					<p>Total Number of Users</p>
				</div>
			</div>
			<span class="progress" data-value="100%"></span>
			<span class="label">100%</span>
		</div>
		<div class="card">
			<div class="head">
				<div>
					<h2>{{ tasks.mobile_user }}</h2>
					<p>Number of Mobile Phone Users</p>
				</div>
			</div>
			<span class="progress" data-value="{{ tasks.mobile_user_per }}%"></span>
			<span class="label">{{ tasks.mobile_user_per }}%</span>
		</div>
		<div class="card">
			<div class="head">
				<div>
					<h2>{{ tasks.computer_user }}</h2>
					<p>Number of Computer Users</p>
				</div>
			</div>
			<span class="progress" data-value="{{ tasks.computer_user_per }}%"></span>
			<span class="label">{{ tasks.computer_user_per }}%</span>
		</div>
	</div>
	{% endif %}
</main>
{% endblock %}