{% extends 'admin_base.html' %}
{% block title %}
Admin | Users
{% endblock %}
{% block body %}
<!-- MAIN -->
<main>
	<div class="data">
		<div class="content-data">
			<div class="head">
				<h3>Admins</h3>
			</div>
			<div class="chat-box">
				<table>
					<ul class="table">
						<li class="table-header">
							<div class="col col-3"><strong>Full Name</strong></div>
							<div class="col col-3"><strong>Email Address</strong></div>
							<div class="col col-3"><strong>Job Position</strong></div>
						</li>
						{% for task in tasks %}
						<li class="table-row">
							<div class="col col-3">{{ task.fullname }}</div>
							<div class="col col-3">{{ task.email_add }}</div>
							<div class="col col-3">{{ task.job }}</div>
						</li>
						{% endfor %}
					</ul>
				</table>
			</div>
		</div>
	</div>
</main>
{% endblock %}